body{
    background-image: url(./media/fish-bg.jpg);
    height: 860px;
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 3%;
    background-color: #9cd4e3;
}
div.sticky-top{
    padding: 10px;
    background-color: #9cd4e3;
}
/* header style */
#header{
    padding: 20px 10px 20px 0px;
    margin-bottom: 10px;
}
#header h1{
    color: white;
    font-size: 2rem;
    font-style: italic;
    text-shadow: 3px 3px 3px gray;
}
/* task list input style */
input{
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    font-size: 1.4rem;
    padding: 8px;
    margin: 0px 10px 10px 0px;
}
/* button style */
button{
    margin-left: 2px !important;
    font-size: 14px !important;
}
/* list style */
ul{
    padding-top: 50px;
    font-size: 1.6rem !important;
    list-style: none;
}
li{
    padding: 8px 8px 8px 0px;
}
/* para */
p{
    font-size: 10px;
}