body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Calibri light, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
#roll {
    color: orange;
}
button{
    background-color: yellow; 
    border: 5px solid white;
    border-radius: 70px; 
    text-align: center;
    width: 600px;
}
a {
    color: maroon;
    text-align: center;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-decoration: none;
}